*{
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/*Default CSS Style*/

html, body{
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

/*CSS for Navbar Mobile*/

div.navbar-mobile{
  background-color: #000000;
  position: fixed;
  width: 100%;
}

div.navbar-mobile > ul{
  margin: 0px;
  padding: 0px;
  position: relative;
}

div.navbar-mobile > ul > li{
  list-style-type: none;
  padding: 12px 24px 12px 24px;
}

div.navbar-mobile > ul > li:hover{
  background-color: #a6a9ad;
  cursor: pointer;
}

div.navbar-mobile > ul > li:hover a{
  color: #000000;
}

div.navbar-mobile > ul > li:hover img.icon-bar{
  content: url(icons/menu-bar-dark.svg);
}

div.navbar-mobile > ul > li > a{
  text-decoration: none;
  color: #ffffff;
}

div.navbar-mobile > ul > li:first-child{
  display: inline-block;
}

div.navbar-mobile > ul > li:last-child{
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.hide{
  display: none;
}

.show{
  display: block;
}

/*Hide Desktop Navbar*/
div.navbar-desktop{
  display: none;
}

/*CSS for carousel*/
div.carousel{
  position: absolute;
  top: 46px;
  z-index: -1;
  text-align: center;
}

div.carousel > div.carousel-item {
  position: relative;
}

div.carousel-item > div.carousel-details{
  position: absolute;
  color: #ffffff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 32px 16px 32px 16px;
}

div.carousel > div.carousel-item img {
  max-width: 100%;
  height: auto;
}

/*wrapper div*/
div.wrapper{
  margin-top: 70vw;
}


/*The Band*/
div.band{
  text-align: center;
  padding: 16px;
  max-width: 800px;
  margin:auto;
}

div.band > h1 {
  letter-spacing: 4px;
}

div.band i{
  opacity: 0.60;
}

div.band > p:last-child {
  text-align: justify;
}


/*Team*/
div.team{
  text-align: center;
  padding: 16px 16px 64px 16px ;
  max-width: 800px;
  margin: auto;
}


/*Tour and Tickets wrapper*/
div.tour-tickets-wrapper{
  background-color: #000000;
}

/*Tour*/
div.tour{
  text-align: center;
  padding: 64px 16px 0px 16px;
  color: #ffffff;
}

div.tour > h1 {
  letter-spacing: 4px;
}

div.tour i{
  opacity: 0.60;
}

div.tour ul{
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  max-width: 800px;
}

div.tour li{
  list-style-type: none;
  color: #000000;
  text-align: left;
  padding: 8px 16px 8px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}

div.tour li:last-child > span{
  float: right;
  border-radius: 50%;
  background-color: #000000;
}

div.tour span{
  background-color: #f44336;
  color: #ffffff;
  margin-left: 16px;
  padding: 0px 8px 0px 8px;
  display: inline-block;
}

/*tickets-wrapper*/
div.tickets-wrapper{
  max-width: 800px;
  margin: auto;
  padding: 0px 16px 64px 16px;
}

/*tickets*/
div.tickets > div{
  color: #000000;
  padding: 0px;
  margin-bottom: 16px;
}

div.tickets img{
  width: 100%;
  height: auto;
  display: block;
}

div.ticket-details{
  background-color: #ffffff;
  padding: 16px;
}

div.ticket-details > p{
  text-align: left;
}

div.ticket-details p:first-child{
  margin-top: 0px;
}

div.ticket-details p:nth-child(2){
  opacity: 0.60;
}

div.ticket-details button{
  color: #ffffff;
  background: #000000;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  font: inherit;
  border: none;
}

div.ticket-details button:hover{
  color: #000000;
  background: #a6a9ad;
}


/*Contact*/
div.contact{
  max-width: 800px;
  margin: auto;
}


/*Contact details*/
div.contact{
  padding: 64px 16px 64px 16px;
}

div.contact h1, p{
  text-align: center;
}

div.contact h1{
  letter-spacing: 4px;
}

div.contact > p{
  opacity: 0.60;
}

div.contact-details img{
  height: 20px;
  width: 20px;
}

div.contact-details table{
  display: inline-block;
}

div.contact-details td{
  padding-right: 10px;
  font-style: normal;
}

/*Contact form*/
div.contact-form input{
  display: block;
  width: 100%;
  padding: 8px;
  font: inherit;
  font-style: normal;
}

div.contact-form > form > input:not(:first-child){
  margin-bottom: 10px;
}

div.contact-form > form > button{
  float: right;
  display: inline-block;
  color: #ffffff;
  background: #000000;
  padding: 8px 16px;
  cursor: pointer;
  font: inherit;
  border: none;
  font-style: normal;
}

/*Road*/
div.road-map img{
  width: 100%;
  height: auto;
  filter: grayscale(50%);
}



/*Footer*/
div.footer{
  padding: 64px 24px 64px 24px;
  text-align: center;
}

div.footer img{
  height: 20px;
  width: 20px;
  opacity: .60;
}

div.footer p{
  opacity: 0.60;
  font-style: normal;
}

[class*="col-"] {
  width: 100%;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  
  /*CSS for Navbar Desktop*/

  div.navbar-mobile{
    display: none;
  }

  /*Show Desktop Navbar*/
  div.navbar-desktop{
    display: block;
    background-color: #000000;
    margin-bottom: 60vw;
    position: fixed;
    width: 100%;
  }

  div.navbar-desktop > ul{
    margin: 0px;
    padding: 0px;
  }

  div.navbar-desktop > ul > li{
    list-style-type: none;
    padding: 12px 24px 12px 24px;
  }

  div.navbar-desktop > ul > li:hover:not(:last-child){
    background-color: #a6a9ad;
    cursor: pointer;
  }

  div.navbar-desktop > ul > li:hover:last-child{
    background-color: #d91616;
    cursor: pointer;
  }

  div.navbar-desktop > ul > li:hover a{
    color: #000000;
  }

  div.navbar-desktop > ul > li > a{
    text-decoration: none;
    color: #ffffff;
  }

  div.navbar-desktop > ul > li{
    display: inline-block;
  }

  div.navbar-desktop > ul > li:last-child{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }

  div.navbar-desktop > ul > li:nth-child(5){
    position: relative;
  }

  div.navbar-desktop > ul > li:nth-child(5):hover img.icon-arrow{
    content: url("icons/arrow-down-dark.svg");
  }

  img.icon-arrow{
    height: 10px;
    width: 10px;
  }

  div.navbar-desktop > ul > li:nth-child(5):hover > div.dropdown-content{
    display: block;
  }

  div.dropdown-content{
    position: absolute;
    margin-top: 12px;
    min-width: 160px;
    left: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    background-color: #ffffff;
  }

  div.dropdown-content > a {
    color: #000000;
    padding: 8px 16px 8px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
  }

  div.dropdown-content > a:hover {
    background-color: #a6a9ad;
  }

  /*Carousel on Desktop*/
  div.carousel-item > div.carousel-details{
    position: absolute;
    color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }


  /*Team */
  div.team img{
    width: 60%;
  }

  /*Tour*/
  div.tour ul{
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    max-width: 770px;
    margin: auto;
  }

  /*tickets-wrapper*/
  div.tickets-wrapper{
    padding: 16px 8px 64px 8px;
  }

  /*tickets*/
  div.tickets > div{
    padding-right: 8px;
    padding-left: 8px;
  }

  /*Contact form*/
  div.contact-form > form > input:first-child{
    width: 49%;
    display: inline;
    margin-right: 1%;
  }

  div.contact-form > form > input:nth-child(2){
    width: 50%;
    display: inline;
  }

  div.contact-form input{
    float: left;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

    /*Team */
  div.team img{
    width: 70%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
}