*{
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}


html, body{
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

/*CSS for Navbar Mobile*/

div.navbar-mobile{
  background-color: #000000;
}

div.navbar-mobile > ul{
  margin: 0px;
  padding: 0px;
  position: relative;
}

div.navbar-mobile > ul > li{
  list-style-type: none;
  padding: 12px 24px 12px 24px;
}

div.navbar-mobile > ul > li:hover{
  background-color: #a6a9ad;
  cursor: pointer;
}

div.navbar-mobile > ul > li:hover a{
  color: #000000;
}

div.navbar-mobile > ul > li:hover img.icon-bar{
  content: url(icons/menu-bar-dark.svg);
}

div.navbar-mobile > ul > li > a{
  text-decoration: none;
  color: #ffffff;
}

div.navbar-mobile > ul > li:first-child{
  display: inline-block;
}

div.navbar-mobile > ul > li:last-child{
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.hide{
  display: none;
}

.show{
  display: block;
}

/*Hide Desktop Navbar*/
div.navbar-desktop{
  display: none;
}

/*CSS for carousel*/
div.carousel{
  position: absolute;
  top: 0px;
  z-index: -1;
  text-align: center;
}

div.carousel > div.carousel-item {
  position: relative;
}

div.carousel-item > div.carousel-details{
  position: absolute;
  color: #ffffff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 32px 16px 32px 16px;
}

div.carousel > div.carousel-item img {
  max-width: 100%;
  height: auto;
}

[class*="col-"] {
  width: 100%;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  
  /*CSS for Navbar Desktop*/

  div.navbar-mobile{
    display: none;
  }

  /*Show Desktop Navbar*/
  div.navbar-desktop{
    display: block;
    background-color: #000000;
  }

  div.navbar-desktop > ul{
    margin: 0px;
    padding: 0px;
  }

  div.navbar-desktop > ul > li{
    list-style-type: none;
    padding: 12px 24px 12px 24px;
  }

  div.navbar-desktop > ul > li:hover:not(:last-child){
    background-color: #a6a9ad;
    cursor: pointer;
  }

  div.navbar-desktop > ul > li:hover:last-child{
    background-color: #d91616;
    cursor: pointer;
  }

  div.navbar-desktop > ul > li:hover a{
    color: #000000;
  }

  div.navbar-desktop > ul > li > a{
    text-decoration: none;
    color: #ffffff;
  }

  div.navbar-desktop > ul > li{
    display: inline-block;
  }

  div.navbar-desktop > ul > li:last-child{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }

  div.navbar-desktop > ul > li:nth-child(5){
    position: relative;
  }

  div.navbar-desktop > ul > li:nth-child(5):hover > div.dropdown-content{
    display: block;
  }

  div.dropdown-content{
    position: absolute;
    margin-top: 12px;
    min-width: 160px;
    left: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    background-color: #ffffff;
  }

  div.dropdown-content > a {
    color: #000000;
    padding: 8px 16px 8px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
  }

  div.dropdown-content > a:hover {
    background-color: #a6a9ad;
  }

  /*Carousel on Desktop*/
  div.carousel-item > div.carousel-details{
    position: absolute;
    color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
}